{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Login - {{ parent() }}
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
<body class="login-screen">
    
    {% include "BenAssociationBundle:Default:flashes.html.twig" %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="login-warper">
        <div class="login-icon">
            <img src="{{ asset(app_config.org_logo) }}" alt="Welcome to Mail App">
            <h4>Welcome to <small>{{ app_config.org_name }}</small></h4>
        </div>
        <div class="login-form">
            {% if error %}
            <div class="form-group text-center"><span class="text-danger">{{ error|trans({}, 'FOSUserBundle') }}</span></div>
            {% endif %}
            <div class="form-group">
              <input type="text" name="_username" class="form-control login-field" value="{{ last_username }}" placeholder="{{ 'user.form.username'|trans }}" id="login-name">
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" name="_password" required="required" placeholder="{{ 'user.form.plainpassword'|trans }}" id="login-pass">
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
                <div class="form-group">
                    <label class="checkbox primary checked" for="checkbox6">
                    <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" checked="checked" name="_remember_me" value="on" id="checkbox6" data-toggle="checkbox">
                    {{ 'user.form.rememberme'|trans }}
                  </label>
                </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'user.action.login'|trans }}</button>
            <a class="login-link" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
        </div>
    </div>
    </form>
  </body>
    <script src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/flatui-checkbox.js') }}"></script>
    <script type="text/javascript">
    (function($) {

    })(jQuery);
    </script>

{% endblock container %}
