{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
{{ 'status.action.new'|trans }} | {{ parent() }}
{% endblock %}
{% block body %}
<h2>{{ 'status.action.new'|trans }}</h2>

<form class="form-horizontal" action="{{ path('avancement_create') }}" method="post" {{ form_enctype(form) }}>

  {% include "BenAssociationBundle:Avancement:form.html.twig" %}

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" name="subvalider" class="btn btn-primary btn-embossed"><span class="fui-check-inverted"></span> {{ 'ben.action.valide'|trans}}</button>
      </div>
    </div>
</form>

{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {

        $('#avancement_form_user').closest('.form-group').hide();
    })(jQuery);
</script>
{% endblock %}
