{% for entity in entities %}
        <tr {% if entity.status != 'valide' %}class="danger"{% endif %}>
            <td><label class="checkbox no-label" for="checkbox-table-2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
            <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" name="entities[]" value="{{ entity.id }}" id="checkbox-table-2" data-toggle="checkbox"></label></td>
            <td>
                <em class="text-muted"><a href="{{ path('ben_show_user', { 'id': entity.user.id }) }}">{{ entity.user.profile.fullName }}</a></em>
            </td>
            <td>{{ entity.room.floor }} :: {{ entity.room.number }}</td>
            <td><a href="{{ path('hotels_show', { 'id': entity.room.hotel.id }) }}">{{ entity.room.hotel.name }}</a></td>
            <td>{% if entity.datefrom %}{{ entity.datefrom|date('Y-m-d') }}{% endif %}</td>
            <td>{% if entity.dateto %}{{ entity.dateto|date('Y-m-d') }}{% endif %}</td>
            <td>{{ entity.status }}</td>
            <td>
                <a class="btn btn-embossed btn-primary btn-xs" href="{{ path('reservation_show', { 'id': entity.id }) }}" data-toggle="tooltip" title="Afficher"><span class="fui-search"></span></a>
                <a class="btn btn-embossed btn-info btn-xs" href="{{ path('reservation_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="modifier"><span class="fui-new"></span></a>
            </td>
        </tr>
    {% endfor %}

{% include "BenAssociationBundle:Default:pagination.html.twig" %}
<script>   
(function($) {

    /* tooltip */
    $('a[data-toggle="tooltip"]').tooltip();

})(jQuery);
</script>