    <div class="form-group ">
        <label class="col-md-4 control-label" for="Person">Adherent</label>
        <div class="col-md-4">
            <input class="form-control" class="disabled" disabled id="Person" type="text" value="{{ form.vars.value.user.profile.fullname }}">
        </div>
    </div>
    {{ form_row(form.date_from, { 'label': 'Date début'}) }}
    {{ form_row(form.date_to, { 'label': 'Date fin'}) }}
    {{ form_row(form.user) }}
    {{ form_row(form.room) }}
    <div class="form-group ">
        <label class="col-md-4 control-label" for="js-room">Logement</label>
        <div class="col-md-4">
            <input class="form-control" class="disabled" disabled id="js-block" type="text" value="{% if form.vars.value.room.hotel.name is defined %}{{ form.vars.value.room.hotel.name }}{% endif %}">
        </div>
    </div>
    <div class="form-group ">
        <label class="col-md-4 control-label" for="js-room">Chambre</label>
        <div class="col-md-3">
            <input class="form-control" class="disabled" disabled id="js-room" type="text" value="{% if form.vars.value.room.number is defined %}{{ form.vars.value.room.number }}{% endif %}">
        </div>
        <a id="js-submit" href="#" class="btn btn-primary col-md-1"  data-toggle="modal" data-target="#infoModal"><span class="glyphicon glyphicon-search"></span></a>
    </div>
 {{ form_rest(form) }}
