{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h2><span class="glyphicon glyphicon-file"></span> Reservation</h2>
<div class="row">
    <div class="col-sm-9">
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Adherent</th>
            <td>
                <a href="{{ path('ben_show_user', { 'id': entity.user.id }) }}">{{ entity.user.profile.firstName }} {{ entity.user.profile.familyName }}</a>
            </td>
        </tr>
        <tr>
            <th>CIN</th>
            <td>{{ entity.user.profile.cin }}</td>
        </tr>
        <tr>
            <th>Logement</th>
            <td>{{ entity.room.hotel.name }} {{ entity.room.hotel.address }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ entity.room.hotel.address }}</td>
        </tr>
        <tr>
            <th>N° de Pavé</th>
            <td>{{ entity.room.floor }}</td>
        </tr>
        <tr>
            <th>N° de chambre</th>
            <td>{{ entity.room.number }}</td>
        </tr>
        <tr>
            <th>Date début</th>
            <td>{{ entity.datefrom|date('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>Date fin</th>
            <td>{{ entity.dateto|date('Y-m-d') }}</td>
        </tr>
    </tbody>
</table>
</div> 
<div class="col-md-3">
    <form action="{{ path('reservation_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <a id="submitEditForm" class="btn btn-embossed btn-primary btn-block" href="{{ path('reservation_edit', { 'id': entity.id }) }}">
        <span class="fui-new"></span> Mettre à jour
    </a>
    <a class="btn btn-embossed btn-inverse btn-block " href="{{ path('reservation') }}">
        <span class="fui-list-bulleted"></span> Back to the list
    </a>
    <button type="submit" class="btn btn-embossed btn-danger btn-block"><span class="fui-cross"></span> Supprimer </button>
</form>
</div>
</div>
{% endblock body %}
