<form class="form-horizontal" method="POST" action="{{ path('fos_user_change_password') }}" {{ form_enctype(passwordform) }} >
    <fieldset>
        <legend>{{ 'fos.user.action.password.change'|trans }}</legend>

        {{ form_row(passwordform.current_password, { 'label': 'Mot de passe actuel'}) }}
        {{ form_row(passwordform.new.first, { 'label': 'Nouveau mot de passe'}) }}
        {{ form_row(passwordform.new.second, { 'label': 'Confirmer votre mot de passe'}) }}

        {{ form_rest(passwordform) }}

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <button type="submit" name="subvalider" class="btn btn-primary btn-embossed"><span class="fui-new"></span> {{ 'ben.action.edit'|trans }}</button>
        </div>
    </div>
    </fieldset>
</form>

           