{% for entity in entities %}
    <tr>
        <td><label class="checkbox no-label" for="checkbox-table-2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span>
        <span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" name="users[]" value="{{ entity.id }}" id="checkbox-table-2" data-toggle="checkbox"></label></td>

        {% if entity.profile.isArchived %}
          <td>{{ entity.username }}</td>
          <td>{{ entity.profile.familyName }}</td>
          <td>{{ entity.profile.firstName }}</td>
          <td>{{ entity.profile.cin }}</td>
          <td>{{ entity.profile.cause }}</td>
        {% else %}
        {% for item in app_config.userTable %}
          {% if item.visible %}<td>{{ entity.get(item.fieldName) }}</td>{% endif %}
        {% endfor %}
        {% endif %}
        <td>
        <div class="myprofile hide"> 
        <div class="row">
          <div class="col-xs-4"><img class="myavatar img-responsive" src="{{ asset( entity.profile.image.getwebpath)}}"></div>
          <ul class="list-unstyled col-xs-8 userinfo" data-index="{{ loop.index }}" data-id="{{ entity.id }}">
              <li><strong>{{ 'user.form.username'|trans }} :</strong> {{ entity.username }}</li>
              <li><strong>{{ 'user.form.profile.family.name'|trans }} :</strong> {{ entity.profile.familyName }}</li>
              <li><strong>{{ 'user.form.profile.first.name'|trans }} :</strong>  {{ entity.profile.firstName }}</li>
              <li><strong>{{ 'user.form.profile.birthday'|trans }} :</strong>  {{ entity.profile.birthday|date('d/m/Y') }}</li>
              <li><strong>{{ 'user.form.profile.gender'|trans }} :</strong>  {{ entity.profile.gender }}</li>
              <li><strong>{{ 'user.form.profile.address'|trans }} :</strong>  {{ entity.profile.address }}</li>
              <li><strong>{{ 'user.form.profile.city'|trans }} :</strong> {{ entity.profile.city }}</li>
              <li><strong>{{ 'user.form.profile.description'|trans }} :</strong> {{ entity.profile.description }}</li>
            </ul>
        </div>
        </div>

        <div class="btn-group pull-left">              
          <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown"><span class="fui-gear"></span>
            <span class="caret"></span>
          </button>
          <span class="dropdown-arrow dropdown-arrow-inverse"></span>
          <ul class="dropdown-menu dropdown-inverse">
            <li><a class="js-show" data-index="{{ loop.index }}" data-id="{{ entity.id }}" href="#"><span class="glyphicon glyphicon-search"></span> {{ 'ben.action.show'|trans }}</a></li>
            <li><a href="{{ path('ben_edit_user', {id: entity.id }) }}"><span class="glyphicon glyphicon-edit"></span> {{ 'ben.action.edit'|trans }}</a></li>
            <li><a href="{{ path('avancement_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-user"></span> {{ 'status.action.new'|trans }}</a></li>
            <li><a href="{{ path('cotisation_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-check"></span> {{ 'cotisation.meta.name'|trans }}</a></li>
            <li><a class="js-call" href="#" data-id="{{ entity.id }}" data-call="{{ entity.profile.tel }}"><span class="glyphicon glyphicon-earphone"></span> {{ 'ben.action.call'|trans }}</a></li>
          </ul>
        </div>

        </td>
    </tr>
{% endfor %}
                
{% include "BenAssociationBundle:Default:pagination.html.twig" %}

<script>   
(function($) {

    /* tooltip */
    $('td a').tooltip();

})(jQuery);
</script>
