<!-- Modal advanced search -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="searchModalLabel">{{'ben.action.advanced'|trans}}</h4>
      </div>
      <div class="modal-body">
      <div class="row">
          <div class="col-md-6">
            <label for="" class="control-label">{{ 'user.form.profile.cin'|trans }}</label>
            <div class="form-group ">
              <input type="text" name="searchParam[cin]" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <label for="" class="control-label">{{ 'user.form.profile.gender'|trans }}</label>
            <div class="">
              <select name="searchParam[gender]" class="primary select-block">
                <option value=""></option>
                <option value="homme">{{ 'user.meta.man'|trans }}</option>
                <option value="femme">{{ 'user.meta.woman'|trans }}</option>
              </select>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6"> 
              <label class="control-label" for="date_from">{{ 'cotisation.form.date.from'|trans }}</label>
              <div class="form-group ">
                    <input type="text" class="form-control has-datepicker" name="searchParam[date_from]" id="date_from" placeholder="{{ 'user.form.profile.birthday'|trans }}">
              </div>
          </div>
          <div class="col-md-6">
              <label class="control-label" for="date_to">{{ 'cotisation.form.date.to'|trans }}</label>
              <div class="form-group ">
                    <input type="text" class="form-control has-datepicker" name="searchParam[date_to]" id="date_to" placeholder="{{ 'user.form.profile.birthday'|trans }}">
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label for="citySelect" class="control-label">{{ 'user.form.profile.city'|trans }}</label>
            <div class="form-group ">
              <input id="citySelect" type="text" name="searchParam[city]" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <label for="citySelect" class="control-label">{{ 'user.form.profile.barcode'|trans }}</label>
            <div class="form-group ">
              <input id="citySelect" type="text" name="searchParam[barcode]" class="form-control">
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label for="" class="control-label">{{ 'status.action.filter'|trans }}</label>
            <div class="">
              <select name="searchParam[status]" class="primary select-block">
                <option value="0">{{ 'ben.meta.all'|trans }}</option>
                {% for entity in status %}
                <option value="{{ entity.id }}">{{ entity.name }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label for="" class="control-label">{{ 'group.action.filter'|trans }}</label>
            <div class="">
              <select id="js-group" name="searchParam[group]" class="primary select-block">
                <option value="0">{{ 'ben.meta.all'|trans }}</option>
                {% for entity in groups %}
                <option value="{{ entity.id }}">{{ entity.name }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="" class="control-label">{{ 'cotisation.action.filter'|trans }}</label>
            <div class="">
              <select name="searchParam[cotisation]" class="primary select-block">
                <option value="0">{{ 'ben.meta.all'|trans }}</option>
                <option value="1">Payé</option>
                <option value="2">Non payé</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label for="" class="control-label">{{ 'ben.meta.perpage'|trans }}</label>
            <div class="">
              <select id="js-perpage" name="searchParam[perPage]" class="primary select-block">
                <option value="10" {% if app_config.rows_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if app_config.rows_per_page == 20 %}selected{% endif %}>20</option>
                <option value="50" {% if app_config.rows_per_page == 50 %}selected{% endif %}>50</option>
                <option value="100" {% if app_config.rows_per_page == 100 %}selected{% endif %}>100</option>
              </select>
            </div>
          </div>
        </div>
          <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
      <div class="col-md-7">
        <div class="input-group">
          <input type="text" name="searchParam[filterGroup]" class="form-control" placeholder="{{ 'group.form.placeholder.filter'|trans}}">
          <div class="input-group-btn">
          <button id="js-filter-group" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>
      </div>

        <button id="js-search" type="button" class="btn btn-primary">{{ 'ben.action.search'|trans }}</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal group allocation -->
<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ 'group.meta.name'|trans }}</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="" class="col-md-5 control-label">{{ 'group.form.name'|trans }}</label>
            <div class="col-md-7">
              <select name="group" class="primary select-block">
                {% for entity in groups %}
                <option value="{{ entity.id }}">{{ entity.name }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button id="js-group-set" type="button" class="btn btn-primary">{{ 'ben.action.valide'|trans }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Profil Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ 'user.meta.name'|trans }}</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary btn-embossed pull-left" data-dir="prev">{{ 'ben.action.prev'|trans }}</button>
        <a href="#" id="more" class="btn btn-primary btn-embossed">{{ 'ben.action.more'|trans }}</a>
        <button type="button" class="btn btn-primary btn-embossed pull-right" data-dir="next">{{ 'ben.action.next'|trans }}</button>
      </div>
    </div>
  </div>
</div>

<!-- mail Modal -->
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ 'message.action.mail'|trans }}</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <div class="form-group">
              <input type="text" name="mail[subject]" class="form-control obj" placeholder="Objet">
            </div>
          </div>
          <div class="form-group">
            <div class="form-group">
              <textarea id="body" name="mail[body]" rows="6" class="form-control" placeholder="{{ 'ben.meta.message'|trans }}"></textarea>
            </div>
          </div>
          <button id="js-sendmail" type="button" class="btn btn-primary btn-block">{{ 'ben.action.send'|trans }}</button>
          <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<!-- call Modal -->
<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{ 'ben.meta.call'|trans }}</h4>
      </div>
      <div class="modal-body">
      <div class="row">
          <div class="col-xs-3">
              <img class="img-responsive img-circle" src="{{ asset(app.user.profile.image.getwebpath)}}"/>
          </div>
          <div class="col-xs-6 text-center">
          <span class="throbber">Loading…</span>
          <div id="timer"></div></div>
          <div class="col-xs-3">
              <img class="img-responsive" src="{{ asset('images/fixe.png')}}"/>
              <small class="number"></small>
          </div>
          <div class="col-md-12 text-center"><a href="#" id="hangup" data-toggle="tooltip" title="{{ 'ben.action.hangup'|trans }}" class="btn btn-danger btn-embossed"><span class="glyphicon glyphicon-earphone"></span></a></div>
      </div>
      <div class="feedback">
          <label class="radio">
            <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="log[feedback]" checked="checked" value="réponse" data-toggle="radio">
            Réponse
          </label>
          <label class="radio">
            <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="log[feedback]" value="occupé" data-toggle="radio">
            Occupé
          </label>
          <label class="radio">
            <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="log[feedback]" value="pas de réponse" data-toggle="radio">
            Pas de réponse
          </label>
          <input type="hidden" id="logtype" name="log[type]" value="appel">
          <input type="hidden" id="user" name="log[entity_id]" value="">
          <input type="hidden" name="log[user]" value="{{app.user.id}}">
          <a href="#" id="sendFeedback" class="btn btn-primary btn-embossed pull-right"><span class="glyphicon glyphicon-check"></span> {{ 'ben.action.done'|trans }}</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- confirmation modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="confirmationModalLabel">Raison du reject</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <div class="form-group">
              <textarea rows="3" name="cause" placeholder="raison du reject..." class="form-control"></textarea>
            </div>
          </div>
          <button id="js-delete" type="button" class="btn btn-primary btn-block">{{ 'ben.action.send'|trans }}</button>
          <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>