{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css"> 
    .mybadge {
      background: {{ app_config.badge_bgcolor}};
      color: {{ app_config.badge_color}};
      }
      .mybadge .footer{ 
        color: {{ app_config.badge_footer_color}};
        background: {{ app_config.badge_footer_bgcolor}};
      }
      {{ app_config.org_carte_css}} 

    </style>
 {% endblock %}
 
{% block body %}
     {% if is_granted("ROLE_MANAGER") %} 
     <form id="deleteForm" action="{{ path('ben_delete_user', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
    </form>
    <div class="btn-group pull-right hidden-print">              
      <button class="btn btn-primary "><span class="fui-gear"></span> Selectioner une action</button>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <span class="dropdown-arrow dropdown-arrow-inverse"></span>
      <ul class="dropdown-menu dropdown-inverse">
        <li><a href="{{ path('ben_edit_user', {id: entity.id }) }}"><span class="fui-new"> Modifier</a></li>
        <li><a href="{{ path('avancement_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-plus"></span> Ajouter un status</a></li>
        <li><a href="{{ path('cotisation_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-plus"></span> Ajouter une cotisation</a></li>
        <li><a href="{{ path('ben_pdf', {'users': entity.id }) }}"><span class="fui-credit-card"> Imprimer la carte</a></li>
        <li><a href="{{ path('ben_ticket_user', {'users': entity.id }) }}"><span class="fui-tag"></span> Ticket</a></li>
        <li><a id="btnPrint" href="#"><span class="glyphicon glyphicon-print"></span> imprimer la fiche</a></li>
        <li><a href="{{ path('reservation_new', {'id': entity.id }) }}"><span class="fui-tag"> Reserver une chambre</a></li>
        {% if is_granted("ROLE_ADMIN") %}
        <li class="divider"></li>
        <li><a id="js-delete" href="{{ path('ben_new_user', {id: entity.id }) }}"><span class="glyphicon glyphicon-trash"></span> Supprimmer</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  <div class="row">
    <div class="col-md-12 hidden-print"><h2><span class="fui-user"></span> {{ entity.profile.firstName }} {{ entity.profile.familyName }} </h2></div>
  </div>
  <h2 class="visible-print text-center">Fiche adhérant</h2>
<div class="row">
    <div class="col-md-4">
    {% if is_granted("ROLE_MANAGER") %} 
      <div class="box mybadge hidden-print">
        <img class="pull-left pic" src="{{ asset( entity.profile.image.getwebpath)}}"/>
        <img class="pull-right logo" src="{{ asset(app_config.org_logo) }}"/>
        <h2>Bayti</h2>
        <ul class="list-unstyled">
            <li><strong>{{ entity.profile.firstName }} {{ entity.profile.familyName }}</strong></li>
            <li>{{ entity.email }}</li>
        </ul>
        <div class="footer label-primary">
           <span>{{ app_config.org_slogan }}</span>
            <span class="pull-right">{{"now"|date('Y')}}</span>
        </div>
      </div>
      <div class="box hidden-print">
        <div class="mybadge">
          <div class="js-barcode" data-id="{{ entity.profile.barcode }}"></div>
          <div class="footer label-primary">
              <span>Date d'inscription: {{ entity.created|date('Y-m-d') }}</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      {% endif %}
      <div class="box">
          <header>
            <h3><span class="glyphicon glyphicon-file"></span> Informations générale</h3>
          </header>
          <ul class="list-group">
              <li class="list-group-item"><strong>Username :</strong> {{ entity.username }}</li>
              <li class="list-group-item"><strong>Password :</strong> ******</li>
              <li class="list-group-item"><strong>adresse email :</strong> <a href="mailto:{{ entity.email }}">{{ entity.email }}</a></li>
              <li class="list-group-item"><strong>Etat du compte :</strong> {{ entity.etat }}</li>
              <li class="list-group-item"><strong>Date d'inscription : </strong> {{ entity.created|time_ago_in_words }}</li>
              {% if entity.lastLogin is not null%}
              <li class="list-group-item"><strong>Dernière connexion : </strong> {{ entity.lastLogin|time_ago_in_words }}</li>
              {% endif %}
              <li class="list-group-item"><strong>Responsablité : </strong> {{ entity.role }}</li>
              <li class="list-group-item"><strong>Groupes : </strong>
                <ul>{% for group in entity.groups %}<li>{{ group}}</li>{% endfor %}</ul>
              </li>
          </ul>
      </div>
  </div>
  <div class="col-md-4">
    <div class="box">
      <header>
          <h3><span class="fui-user"></span> information association</h3>
      </header>
      <ul class="list-group">
          <li class="list-group-item"><strong>Nom :</strong> {{ entity.profile.familyName }}</li>
          <li class="list-group-item"><strong>Preom :</strong>  {{ entity.profile.firstName }}</li>
          <li class="list-group-item"><strong>CIN :</strong> {{ entity.profile.cin }}</li>
          <li class="list-group-item"><strong>Status : </strong> {{ entity.status }}</li>
          <li class="list-group-item"><strong>Sexe :</strong> {{ entity.profile.gender }}</li>
          <li class="list-group-item"><strong>Date de naissance :</strong> {{ entity.profile.birdDay|date('Y-m-d') }}</li>
          <li class="list-group-item"><strong>Code postal :</strong> {{ entity.profile.postCode }}</li>
          <li class="list-group-item"><strong>Profession :</strong> {{ entity.profile.job }}</li>
          <li class="list-group-item"><strong>Niveau d'étude :</strong> {{ entity.profile.diplome }}</li>
          <li class="list-group-item"><strong>Spécialité :</strong> {{ entity.profile.expertise }}</li>
      </ul>
    </div>
  </div> 

   <div class="col-md-4">
       <div class="box">
           <header>
               <h3><span class="fui-book"></span> Informations de contact</h3>
           </header>
           <ul class="list-group">
              <li class="list-group-item"><strong>Tél :</strong> {{ entity.profile.tel }}</li>
              <li class="list-group-item"><strong>Gsm :</strong> {{ entity.profile.gsm }}</li>
              <li class="list-group-item"><strong>Adresse :</strong> {{ entity.profile.address }}</li>
              <li class="list-group-item"><strong>Ville :</strong> {{ entity.profile.city }}</li>
              <li class="list-group-item"><strong>Pay :</strong> {{ entity.profile.contry }}</li>
              <li class="list-group-item"><strong>A propos :</strong> {{ entity.profile.description }}</li>
           </ul>
       </div>
      {% if entity.reservations|length %}
       <div class="box">
           <header>
               <h3><span class="fui-home"></span> Informations de logement</h3>
           </header>
           <ul class="list-group">
           {% set last = entity.reservations|length -1 %}
           {% set reservation = entity.reservations[last] %}
               <li class="list-group-item"><strong>Date début :</strong> {{ reservation.dateFrom|date('Y-m-d') }}  </li>
               <li class="list-group-item"><strong>Date fin :</strong> {{ reservation.dateTo|date('Y-m-d') }} </li>
               <li class="list-group-item"><strong>Numero de chambre :</strong> {{ reservation.room.number }} </li>
               <li class="list-group-item"><strong>Numero de pavé :</strong> {{ reservation.room.floor }} </li>
           </ul>
       </div>
      {% endif %}               
   </div> 
   <div class="col-md-8"> 
      <div class="box">
          <header>
              <h3><span class="glyphicon glyphicon-tag"></span> Historique des Grades</h3>
          </header>
          <table class="table table-hover table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Status</th>
                      <th>Province</th>
                      <th>Date de début</th>
                      <th>Date fin</th>
                  </tr>
              </thead>
              <tbody>
              {% for entity in entity.avancements %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ entity.status }} </td>
                  <td>{{ entity.city }} </td>
                  <td>{% if entity.dateFrom %}{{ entity.dateFrom|date('d/m/Y') }}{% endif %}</td>
                  <td>{% if entity.dateTo %}{{ entity.dateTo|date('d/m/Y') }}{% endif %}
                  {% if is_granted("ROLE_MANAGER") %} 
                  <a class="btn btn-inverse btn-xs pull-right" href="{{ path('avancement_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="modifier"><span class="glyphicon glyphicon-edit"></span></a>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="box">
          <header>
              <h3><span class="glyphicon glyphicon-tag"></span> Historique des Cotisations</h3>
          </header>
          <table class="table table-hover table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Montant</th>
                      <th>Type</th>
                      <th>Date début</th>
                      <th>Date fin</th>
                  </tr>
              </thead>
              <tbody>
              {% for entity in entity.cotisations %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ entity.price }} DH</td>
                  <td>{{ entity.type }}</td>
                  <td>{% if entity.datefrom %}{{ entity.datefrom|date('Y-m-d') }}{% endif %}</td>
                  <td>{% if entity.dateto %}{{ entity.dateto|date('Y-m-d') }}{% endif %}
                  {% if is_granted("ROLE_MANAGER") %} 
                  <a class="btn btn-inverse btn-xs pull-right" href="{{ path('cotisation_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="modifier"><span class="glyphicon glyphicon-edit"></span></a>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="box">
          <header>
              <h3><span class="glyphicon glyphicon-tag"></span> Historique des appels</h3>
          </header>
          <table class="table table-hover table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>date d'appel</th>
                      <th>type</th>
                      <th>Note</th>
                  </tr>
              </thead>
              <tbody>
              {% for entity in logs %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{% if entity.date %}{{ entity.date|date('Y-m-d à H:i') }}{% endif %}</td>
                  <td>{{ entity.type }}</td>
                  <td>{{ entity.message }}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
   </div>
</div>

{% endblock body %}

 {% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/jquery-barcode.min.js') }}"></script>
<script> 
    (function($) {

      $(".js-barcode").each(function(){
        $(this).barcode($(this).data('id')+"", "codabar");   
      });

      $('#js-delete').on('click', function(){
          $('#deleteForm').submit();
          return false;
      });
          
    })(jQuery);
</script>
{% endblock %}