{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Adherant | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css"> 
    .mybadge {
      background: {{ app_config.badge_bgcolor}};
      color: {{ app_config.badge_color}};
      }
      .mybadge .footer{ 
        color: {{ app_config.badge_footer_color}};
        background: {{ app_config.badge_footer_bgcolor}};
      }
      {{ app_config.org_carte_css}} 

    </style>
 {% endblock %}
 
{% block body %}
  <div class="row">
    <div class="col-xs-6 hidden-print"><h2><span class="fui-user"></span> {{ entity.profile.firstName }} {{ entity.profile.familyName }} </h2></div>

     {% if is_granted("ROLE_MANAGER") %} 
     <form id="deleteForm" action="{{ path('ben_delete_user', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
    </form>
    <div class="col-xs-6">
          <div class="btn-group pull-right hidden-print">              
      <button class="btn btn-primary "><span class="fui-gear"></span> {{ 'ben.action.select'|trans }}</button>
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <span class="dropdown-arrow dropdown-arrow-inverse"></span>
      <ul class="dropdown-menu dropdown-inverse">
        <li><a href="{{ path('ben_edit_user', {id: entity.id }) }}"><span class="fui-new"> {{ 'ben.action.edit'|trans }}</a></li>
        <li><a href="{{ path('avancement_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-plus"></span> {{ 'status.action.new'|trans }}</a></li>
        <li><a href="{{ path('cotisation_new', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-plus"></span> {{ 'cotisation.action.new'|trans }}</a></li>
        <li><a href="{{ path('ben_pdf', {'users': entity.id }) }}"><span class="fui-credit-card"> {{ 'user.action.carte.print'|trans }}</a></li>
        <li><a href="{{ path('ben_ticket_user', {'users': entity.id }) }}"><span class="fui-tag"></span> {{ 'user.action.tiquet'|trans }}</a></li>
        <li><a id="btnPrint" href="#"><span class="glyphicon glyphicon-print"></span> {{ 'user.action.print'|trans }}</a></li>
        {# <li><a href="{{ path('reservation_new', {'id': entity.id }) }}"><span class="fui-tag"> Reserver une chambre</a></li> #}
        {% if is_granted("ROLE_ADMIN") %}
        <li class="divider"></li>
        <li><a id="js-delete"  data-id="{{ entity.profile.fullName}}" href="{{ path('ben_new_user', {id: entity.id }) }}"><span class="glyphicon glyphicon-trash"></span> {{ 'ben.action.delete'|trans }}</a></li>
        {% endif %}
      </ul>
    </div>
    </div>
    {% endif %}
  </div>
  <h2 class="visible-print text-center">Fiche adhérant</h2>
<div class="row">
    <div class="col-md-4">
    {% if is_granted("ROLE_MANAGER") %} 
      <div class="box mybadge hidden-print">
        <img class="pull-left pic" src="{{ asset( entity.profile.image.getwebpath)}}"/>
        <img class="pull-right logo" src="{{ asset(app_config.org_logo) }}"/>
        <h2>{{ app_config.org_name }}</h2>
        <ul class="list-unstyled">
            <li><strong>{{ entity.profile.firstName }} {{ entity.profile.familyName }}</strong></li>
            <li>{{ entity.email }}</li>
        </ul>
        <div class="footer label-primary">
           <span>{{ app_config.org_slogan }}</span>
            <span class="pull-right">{{"now"|date('Y')}}</span>
        </div>
      </div>
      <div class="box hidden-print">
        <div class="mybadge">
          <div class="js-barcode" data-id="{{ entity.profile.barcode }}"></div>
          <div class="footer label-primary">
              <span>Date d'inscription: {{ entity.created|date('Y-m-d') }}</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      {% endif %}
      <div class="box">
          <header>
            <h3><span class="glyphicon glyphicon-file"></span> {{ 'user.meta.general'|trans }}</h3>
          </header>
          <ul class="list-group">
              <li class="list-group-item"><strong>{{ 'user.form.username'|trans }} :</strong> {{ entity.username }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.email'|trans }} :</strong> <a href="mailto:{{ entity.email }}">{{ entity.email }}</a></li>
              <li class="list-group-item"><strong>{{ 'user.form.enabled'|trans }} :</strong> {{ entity.etat }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.created'|trans }} : </strong> {{ entity.created|time_ago_in_words }}</li>
              {% if entity.lastLogin is not null%}
              <li class="list-group-item"><strong>{{ 'user.form.lastlogin'|trans }} : </strong> {{ entity.lastLogin|time_ago_in_words }}</li>
              {% endif %}
              <li class="list-group-item"><strong>{{ 'user.form.role'|trans }} : </strong> {{ entity.role }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.groups'|trans }} : </strong>
                <ul>{% for group in entity.groups %}<li>{{ group}}</li>{% endfor %}</ul>
              </li>
          </ul>
      </div>
  </div>
  <div class="col-md-4">
    <div class="box">
      <header>
          <h3><span class="fui-user"></span> {{ 'user.meta.association'|trans }} </h3>
      </header>
      <ul class="list-group">
          <li class="list-group-item"><strong>{{ 'user.form.profile.family.name'|trans }} :</strong> {{ entity.profile.familyName }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.first.name'|trans }} :</strong>  {{ entity.profile.firstName }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.cin'|trans }} :</strong> {{ entity.profile.cin }}</li>
          <li class="list-group-item"><strong>{{ 'status.meta.name'|trans }} : </strong> {{ entity.status }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.gender'|trans }} :</strong> {{ entity.profile.gender }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.birthday'|trans }} :</strong> {{ entity.profile.birthday|date('Y-m-d') }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.post.code'|trans }} :</strong> {{ entity.profile.postCode }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.job'|trans }} :</strong> {{ entity.profile.job }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.diplome'|trans }} :</strong> {{ entity.profile.diplome }}</li>
          <li class="list-group-item"><strong>{{ 'user.form.profile.expertise'|trans }} :</strong> {{ entity.profile.expertise }}</li>
      </ul>
    </div>
  </div> 

   <div class="col-md-4">
       <div class="box">
           <header>
               <h3><span class="fui-book"></span> {{ 'user.meta.contact'|trans }}</h3>
           </header>
           <ul class="list-group">
              <li class="list-group-item"><strong>{{ 'user.form.profile.tel'|trans }} :</strong> {{ entity.profile.tel }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.profile.gsm'|trans }} :</strong> {{ entity.profile.gsm }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.profile.address'|trans }} :</strong> {{ entity.profile.address }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.profile.city'|trans }} :</strong> {{ entity.profile.city }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.profile.contry'|trans }} :</strong> {{ entity.profile.contry }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.profile.description'|trans }} :</strong> {{ entity.profile.description }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.profile.frequence'|trans }} :</strong> {{ entity.profile.frequence }}</li>
              <li class="list-group-item"><strong>{{ 'user.form.profile.montant'|trans }} :</strong> {{ entity.profile.montant }} DH</li>
           </ul>
       </div>
{#       {% if entity.reservations|length %}
       <div class="box">
           <header>
               <h3><span class="fui-home"></span> Informations de logement</h3>
           </header>
           <ul class="list-group">
           {% set last = entity.reservations|length -1 %}
           {% set reservation = entity.reservations[last] %}
               <li class="list-group-item"><strong>Date début :</strong> {{ reservation.dateFrom|date('Y-m-d') }}  </li>
               <li class="list-group-item"><strong>Date fin :</strong> {{ reservation.dateTo|date('Y-m-d') }} </li>
               <li class="list-group-item"><strong>Numero de chambre :</strong> {{ reservation.room.number }} </li>
               <li class="list-group-item"><strong>Numero de pavé :</strong> {{ reservation.room.floor }} </li>
           </ul>
       </div>
      {% endif %}  #}              
   </div> 
   <div class="col-md-8">
      {% if entity.avancements|length %} 
      <div class="box">
          <header>
              <h3><span class="glyphicon glyphicon-tag"></span> {{ 'status.meta.logs'|trans }}</h3>
          </header>
          <div class="scrolldiv">
          <table class="table table-hover table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{ 'status.meta.name'|trans }}</th>
                      <th>{{ 'user.form.profile.city'|trans }}</th>
                      <th>{{ 'cotisation.form.date.from'|trans }}</th>
                      <th>{{ 'cotisation.form.date.to'|trans }}</th>
                  </tr>
              </thead>
              <tbody>
              {% for entity in entity.avancements %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ entity.status }} </td>
                  <td>{{ entity.city }} </td>
                  <td>{% if entity.dateFrom %}{{ entity.dateFrom|date('d/m/Y') }}{% endif %}</td>
                  <td>{% if entity.dateTo %}{{ entity.dateTo|date('d/m/Y') }}{% endif %}
                  {% if is_granted("ROLE_MANAGER") %} 
                  <a class="btn btn-link btn-xs pull-right" href="{{ path('avancement_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="{{ 'ben.action.edit'|trans }}"><span class="glyphicon glyphicon-edit"></span></a>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
      </div>
      {% endif %}
      {% if entity.cotisations|length %}
      <div class="box">
          <header>
              <h3><span class="glyphicon glyphicon-tag"></span> {{ 'cotisation.meta.logs'|trans }}</h3>
          </header>
          <div class="scrolldiv">
              <table class="table table-hover table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{ 'cotisation.form.price'|trans }}</th>
                      <th>{{ 'cotisation.form.type'|trans }}</th>
                      <th>{{ 'cotisation.form.date.from'|trans }}</th>
                      <th>{{ 'cotisation.form.date.from'|trans }}</th>
                  </tr>
              </thead>
              <tbody>
              {% for entity in entity.cotisations %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ entity.price }} DH</td>
                  <td>{{ entity.type }}</td>
                  <td>{% if entity.datefrom %}{{ entity.datefrom|date('Y-m-d') }}{% endif %}</td>
                  <td>{% if entity.dateto %}{{ entity.dateto|date('Y-m-d') }}{% endif %}
                  {% if is_granted("ROLE_MANAGER") %} 
                  <a class="btn btn-link btn-xs pull-right" href="{{ path('cotisation_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="{{ 'ben.action.edit'|trans }}"><span class="glyphicon glyphicon-edit"></span></a>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
      </div>
      {% endif %}
      {% if logs %}
      <div class="box">
          <header>
              <h3><span class="glyphicon glyphicon-tag"></span> {{ 'user.meta.calls'|trans }}</h3>              
          </header>
          <div class="scrolldiv">
          <table class="table table-hover table-bordered ajax">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>{{ 'ben.meta.datecall'|trans }}</th>
                      <th>{{ 'user.title.user'|trans }}</th>
                      <th>{{ 'cotisation.form.type'|trans }}</th>
                      <th>{{ 'ben.meta.note'|trans }} 
                      {% if is_granted("ROLE_ADMIN") %}
                      <a href="{{ path('ben_clear_log', {'user': entity.id }) }}" class="btn btn-link btn-xs pull-right js-delete delete-all" data-toggle="tooltip" title="{{ 'ben.action.empty.history'|trans }}"><span class="glyphicon glyphicon-trash"></span></a>
                      {% endif %}
                      </th>
                  </tr>
              </thead>
              <tbody>
              {% for entity in logs %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{% if entity.date %}{{ entity.date|date('Y-m-d à H:i') }}{% endif %}</td>
                  <td><a href="{{ path('ben_show_user', { 'id': entity.user }) }}">{{ entity.username }}</a></td>
                  <td>{{ entity.type }}</td>
                  <td>{{ entity.message }} 
                  {% if is_granted("ROLE_ADMIN") %}
                  <a href="{{ path('ben_clear_log', { 'id': entity.id}) }}" class="btn btn-link btn-xs pull-right js-delete" data-toggle="tooltip" title="{{ 'ben.action.delete'|trans }}"><span class="fui-cross"></span></a>
                  {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
      </div>
      {% endif %}
   </div>
</div>

{% endblock body %}

 {% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/jquery-barcode.min.js') }}"></script>
<script> 
    (function($) {

      $(".js-barcode").each(function(){
        $(this).barcode($(this).data('id')+"", "codabar");   
      });

      $('#js-delete').on('click', function(){
          confirmation('voullez-vous vraiment supprimer l\'adherent '+$(this).data('id')) && $('#deleteForm').submit();
          return false;
      });

      $('.ajax').on('click', 'a.js-delete', function(e){
        $.ajax({ 
          type: "POST", 
          url: $(this).attr('href')
        });
        if($(this).hasClass('delete-all'))
          $(this).closest('.box').fadeOut();
        else $(this).closest('tr').fadeOut();
        return false;
      });
          
    })(jQuery);
</script>
{% endblock %}