   <div class="form-group ">
		<label class="col-md-4 control-label" for="ben_congetype_user">Adhérant</label>
		<div class="col-md-4">
			<input id="ben_congetype_user" class="form-control disabled" disabled="disabled" type="text" name="unused" value="{{ entity.user.profile.fullName }}">
		</div>
	</div>
	{{ form_row(form.price, { 'label': 'Montant'}) }}
    {{ form_row(form.type, { 'label': 'Méthode de paiment'}) }}
    {{ form_row(form.date_from, { 'label': 'Date début'}) }}
    {{ form_row(form.date_to, { 'label': 'Date fin'}) }}
    {{ form_row(form.description, { 'label': 'Description'}) }}
    {{ form_row(form.user) }}
    {{ form_rest(form) }}
