{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
{{ 'cotisation.title'|trans }} | {{ parent() }}
{% endblock %}
    {% block stylesheet %}
   {{ parent() }}   
        <link href="{{ asset('css/daterangepicker-bs3.css') }}" rel="stylesheet"><!-- Loading my css -->
    {% endblock %}
{% block body %}
<h2><span class="fui-time"></span>  {{ 'cotisation.title'|trans }}</h2>
      <form id="jsForm" role="form" method="post" action="">
        <input id="pagenumber" type="hidden" name="searchParam[page]" value="1">     
          <div class="row hidden-print">
              <div class="col-md-5 col-xs-6">
                  <div class="form-group">
                     <div class="input-group">                                     
                        <input type="text" name="searchParam[keyword]" class="form-control" placeholder="{{ 'ben.action.search'|trans }}">
                       <span class="input-group-btn">
                             <button type="submit" class="btn"><span class="fui-search"></span></button>
                         </span>
                     </div>
                  </div>
              </div>    
            <div class="col-lg-7 col-xs-6">
            {% if is_granted("ROLE_ADMIN") %}
              <div class="btn-group pull-right">              
                <button class="btn btn-primary" href="#" data-toggle="modal" data-target="#myModal"><span class="fui-search"></span> {{'ben.action.advanced'|trans}}</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <span class="dropdown-arrow dropdown-arrow-inverse"></span>
                <ul class="dropdown-menu dropdown-inverse">
                      <li><a href="#" id="js-delete"><span class="fui-trash"></span> {{'ben.action.delete'|trans}}</a></li>
                </ul>
              </div>
            {% else %}
            <button class="btn btn-primary pull-right" href="#" data-toggle="modal" data-target="#myModal"><span class="fui-search"></span> {{'ben.action.advanced'|trans}}</button>
            {% endif %}
            </div>
        </div><!-- /.row --> 
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><label class="checkbox no-label toggle-all" for="checkbox-table-1"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input type="checkbox" value="" id="checkbox-table-1" data-toggle="checkbox"></label></th>
            {% for item in app_config.cotisationTable %}
              {% if item.visible %}<th>{{ item.nicename }}</th>{% endif %}
            {% endfor %}
                <th>{{'ben.meta.actions'|trans}}</th>
            </tr>
        </thead>
        <tbody id="dataContainer"></tbody>
        </table>
        <div class="caption">
          <strong>{{ 'ben.meta.total'|trans }}:</strong> <em>{{ entitiesLength }} {{ 'cotisation.meta.name'|trans }}</em>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" id="closeModal" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{{'ben.action.advanced'|trans}}</h4>
              </div>
              <div class="modal-body">  
                <div class="form-group">
                  <label for="" class="col-md-5 control-label">{{ 'user.form.profile.cin'|trans }}</label>
                  <div class="form-group col-md-7">
                    <input type="text" name="searchParam[cin]" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">{{ 'cotisation.form.periode'|trans }}</label>
                    <div class="form-group col-md-7">
                        <input id="rangepicker" type="text" class="form-control" name="searchParam[date]">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">{{ 'group.action.filter'|trans }}</label>
                    <div class="col-md-7">
                      <select id="js-group" name="searchParam[group]" class="primary select-block">
                        <option value="0">Filtrer par groupe</option>
                        {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                          {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-md-5 control-label">{{ 'cotisation.form.type'|trans }}</label>
                  <div class="col-md-7">
                    <select name="searchParam[type]" class="primary select-block">
                      <option value=""></option>
                      <option value="Espèces">Espèces</option>
                      <option value="Chèque">Chèque</option>
                      <option value="Virement">Virement</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label">{{ 'ben.meta.perpage'|trans }}</label>
                    <div class="col-md-7">
                       <select id="js-perpage" name="searchParam[perPage]" class="select-block primary">
                        <option value="10" {% if app_config.rows_per_page == 10 %}selected{% endif %}>10</option>
                        <option value="20" {% if app_config.rows_per_page == 20 %}selected{% endif %}>20</option>
                        <option value="50" {% if app_config.rows_per_page == 50 %}selected{% endif %}>50</option>
                        <option value="100" {% if app_config.rows_per_page == 100 %}selected{% endif %}>100</option>
                      </select>
                    </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="modal-footer">
                <button type="button" id="modalSearch" class="btn btn-primary btn-embossed">{{ 'ben.action.search'|trans }}</button>
              </div>
            </div>
          </div>
        </div>
</form>

{% endblock body %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.js') }}"></script>
<script> 
    (function($) {

      /* helper functions */
      function getCheckedRows () {
        var entities = [];
        dataContainer.find('input:checkbox:checked').each(function() {
          entities.push($(this).val());
        });
        return entities.join(',');
      }
      function init(){
        pageInput.val('1');
        checkboxBtn.prop("checked",false);
        jsFormUrl = '{{ path('cotisation_ajax') }}';
      }
      function ajaxPost(action) {
        form.addClass('working');
        modalSearch.modal('hide');
        $.ajax({ 
          type: "POST", 
          data: form.serialize(),
          url: jsFormUrl, 
          success: function(data){ 
            form.removeClass('working');
            init();
            if(!action){
              dataContainer.empty().hide().html(data).fadeIn();
            }else ajaxPost();
          },
          error:function(){
              form.removeClass('working');
          }
        });
        return false;
      }

      /* ajax dashboard*/
      var form = $('#jsForm'),
          dataContainer = form.find('#dataContainer');
          deleteBtn = form.find('#js-delete'),
          pageInput = form.find('#pagenumber'),
          perPageBtn = form.find('#js-perpage'),
          jsFormUrl = '',
          checkboxBtn = form.find("input:checkbox"),
          modalSearch = form.find('#myModal'),
          modalSearchBtn = modalSearch.find('#modalSearch');


      /* pagination */    
      form.on('click', '.js-page', function(){
          pageInput.val($(this).data('page'));
          ajaxPost();
      });
      
      deleteBtn.on('click', function(){
        jsFormUrl='{{ path('ben_remove_events') }}';
        ajaxPost('delete');
      });
      modalSearchBtn.on('click', ajaxPost);
      form.on('submit', ajaxPost);

      /* submit the form after loading the page*/
      init();
      ajaxPost();

      /* daterangepicker */
     $('#rangepicker').daterangepicker({format: 'YYYY/MM/DD'});
    })(jQuery);
</script>
{% endblock %}

