{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
{{ 'message.meta.main'|trans }} | {{ parent() }}
{% endblock %}
{% set route = app.request.attributes.get('_route') %} 
{% block body %}
<h2><span class="glyphicon glyphicon-envelope"></span> {{ 'message.meta.main'|trans }}</h2>
<div class="row">
    <div class="col-md-4">
        <div class="inbox-panel box">           
          <header>
          <div class="row">
              <div class="col-md-5"><img class="img-responsive img-circle" src="{{ asset( app.user.avatar)}}" alt=""></div>
              <div class="col-md-7">
                  <h3><i>{{ app.user.profile.firstName }}</i> {{ app.user.profile.familyName }}</h3>
                <a href="{{ path('ben_profile_edit', { 'name': app.user.username}) }}" title=""><span class="glyphicon glyphicon-user"></span> {{ 'user.title.profile'|trans }}</a>
                <a href="{{ path('fos_user_profile_edit') }}" title=""><span class="glyphicon glyphicon-cog"></span> {{ 'ben.menu.config'|trans }}</a>
              </div>
          </div>
          </header> 
          <div class="list-group">
              <a class="list-group-item {% if route == 'fos_message_inbox' %}active{% endif %}" href="{{ path('fos_message_inbox') }}"><span class="glyphicon glyphicon-inbox"></span> {{ 'message.meta.inbox'|trans }} <span class="badge label-danger">{{ fos_message_nb_unread() }}</span></a>
              <a class="list-group-item {% if route == 'fos_message_sent' %}active{% endif %}" href="{{ path('fos_message_sent') }}"><span class="glyphicon glyphicon-send"></span> {{ 'message.meta.sent'|trans }}</a>
              <a class="list-group-item {% if route == 'fos_message_deleted' %}active{% endif %}" href="{{ path('fos_message_deleted') }}"><span class="glyphicon glyphicon-trash"></span> {{ 'message.meta.deleted'|trans }}</a>
              <a class="list-group-item {% if route == 'fos_message_thread_new' %}active{% endif %}" href="{{ path('fos_message_thread_new') }}"><span class="glyphicon glyphicon-plus-sign"></span> {{ 'message.action.send'|trans }}</a>
          </div>
        </div>
    </div>


    <div class="col-md-8">
        <div class="content-warper">
            {% block message_content %}{% endblock %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
    
 {% endblock body %}
