{% for entity in entities %}
        <tr>
            <td>{{ entity.number }}</td>
            <td>{{ entity.floor }}</td>
            <td>{{ entity.hotel.name }}</td>
            <td>{{ entity.type }}</td>
            <td>{{ entity.max }}</td>
            <td>{{ entity.free }}</td>
            <td class="hidden-print">
                <div class="text-center">
                {% if source == 'room' %}
                    <a class="btn btn-embossed btn-primary btn-xs" href="{{ path('rooms_show', { 'id': entity.id }) }}" data-toggle="tooltip" title="Afficher"><span class="fui-search"></span></a>
                    <a class="btn btn-embossed btn-info btn-xs" href="{{ path('rooms_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="modifier"><span class="fui-new"></span></a>
                {% else %}
                <a class="btn btn-info btn-xs js-check" href="#" data-id="{{ entity.id }}"><span class="glyphicon glyphicon-check"></span> ok</a>
                </div>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

{% include "BenAssociationBundle:Default:pagination.html.twig" %}