{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h2><span class="fui-tag"></span> List des chambres</h2>
 <form id="jsForm" role="form" method="post" action="">
      <input type="hidden" name="source" value="room"> 
    <input id="pagenumber" type="hidden" name="page" value="1"> 
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
               <div class="input-group">                                     
                 <input type="text" name="keyword" class="form-control" placeholder="Search">
                 <span class="input-group-btn">
                       <button type="submit" class="btn"><span class="fui-search"></span></button>
                   </span>
               </div>
            </div>
        </div>
        <div class="col-lg-7">
          <div class="btn-group pull-right">              
            <button href="#" data-toggle="modal" data-target="#myModal" class="btn btn-primary "><span class="fui-search"></span> Recherche avancée</button>
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <span class="dropdown-arrow dropdown-arrow-inverse"></span>
            <ul class="dropdown-menu dropdown-inverse">
                  <li><a href="{{ path('rooms_new') }}"><span class="fui-plus"></span> Ajouter</a></li>
                  <li><a href="{{ path('room_new_multiple') }}"><span class="fui-plus"></span> Ajout Multiple</a></li>
                  <li class="divider"></li>
                  <li><a href="{{ path('rooms_export') }}"><span class="fui-export"></span> Exporter vers JSON</a></li>
                  <li><a href="{{ path('rooms_export', { _format: 'xml'}) }}"><span class="fui-export"></span> Exporter vers XML</a></li>
            </ul>
          </div>
        </div>
    </div><!-- /.row -->
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>Chambre</th>
            <th>Etage</th>
            <th>Logement</th>
            <th>Chambre pour</th>
            <th>Capacité</th>
            <th>Libre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="dataContainer"></tbody>
    </table>
        <div class="caption">
          <strong>Total:</strong> <em>{{ entitiesLength }} Chambres</em>
        </div>
             <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" id="closeModal" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Recherche avancée</h4>
              </div>
              <div class="modal-body">     
                <div class="form-group">
                    <label class="col-md-5 control-label" for="number">N° de la chambre</label>
                    <div class="col-md-7">
                       <div class="form-group">
                        <input type="text" name="searchEntity[name]" class="form-control spinner input-spinner input-sm" id="number">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="floor">N° d'étage</label>
                    <div class="col-md-7">
                       <div class="form-group">
                        <input type="text" name="searchEntity[floor]" class="form-control spinner input-spinner input-sm" id="floor">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="bednumber">Capacité</label>
                    <div class="col-md-7">
                       <div class="form-group">
                        <input type="text" name="searchEntity[max]" class="form-control spinner input-spinner input-sm" id="bednumber">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="gender">Logement</label>
                    <div class="col-md-5">
                       <div class="form-group">
                        <input type="text" name="searchEntity[block]" class="form-control input-sm">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="js-filter">Status </label>
                    <div class="col-md-5">
                      <select id="js-filter" name="searchEntity[status]" class="select-block small">
                            <option value="">All</option>
                            <option value="open">Ouvert</option>
                            <option value="closed">Fermé</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="gender">Chambre pour</label>
                    <div class="col-md-5">
                      <select id="gender" name="searchEntity[gender]" class="select-block small">
                            <option value="">Tout</option>
                            <option value="homme">Homme</option>
                            <option value="femme">Femme</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="js-perpage">Nombre de ligne par page :</label>
                    <div class="col-md-5">
                       <select id="js-perpage" name="perpage" class="select-block small">
                        <option value="3" {% if app_config.rows_per_page == 3 %}selected{% endif %}>3</option>
                        <option value="20" {% if app_config.rows_per_page == 20 %}selected{% endif %}>20</option>
                        <option value="50" {% if app_config.rows_per_page == 50 %}selected{% endif %}>50</option>
                        <option value="100" {% if app_config.rows_per_page == 100 %}selected{% endif %}>100</option>
                      </select>
                    </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="modal-footer">
                <button type="button" id="modalSearch" class="btn btn-primary btn-embossed"><span class="fui-search"></span> Recherche</button>
              </div>
            </div>
          </div>
        </div>
</form>

{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {

      function init(){
        pageInput.val('1');
        numberInput.val('');
        floorInput.val('');
        filterInput.val('');
        bedInput.val('');
        genderInput.val('');
        jsFormUrl = '{{ path('ben_rooms_ajax') }}';
      }
      function ajaxPost(action) {
        form.addClass('working');
        $.ajax({ 
          type: "POST", 
          data: form.serialize(),
          url: jsFormUrl, 
          success: function(data){ 
            form.removeClass('working');
            init();
            dataContainer.empty().hide().html(data).fadeIn();
          },
          error:function(){
              alert('service denied');
              form.removeClass('working');
          }
        });
        return false;
      }

      /* ajax dashboard*/
      var form = $('#jsForm'),
          jsFormUrl = '',
          dataContainer = form.find('#dataContainer');
          pageInput = form.find('#pagenumber'),
          numberInput = form.find('#number'),
          floorInput = form.find('#floor'),
          bedInput = form.find('#bednumber'),
          genderInput = form.find('#gender'),
          filterInput = form.find('#js-filter'),
          perPageBtn = form.find('#js-perpage'),
          modalSearchBtn = form.find('#modalSearch'),
          closeModal = form.find('#closeModal');

      /* pagination */    
      form.on('click', '.js-page', function(){
          pageInput.val($(this).data('page'));
          ajaxPost();
      });

      modalSearchBtn.on('click', function () {
          closeModal.trigger('click');
          ajaxPost();
      });
      form.on('submit', ajaxPost);

      /* submit the form after loading the page*/
      init();
      ajaxPost();
    })(jQuery);
</script>
{% endblock %}
