{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h2>Ajout multiple</h2>

<form id="multipleRoom" class="form-horizontal" action="{{ path('room_create_multiple') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <div class="form-group js-before">
      <div class="col-md-offset-4 col-md-4">
        <button class="btn btn-success" id="etageplus"><span class="glyphicon glyphicon-plus"></span> ajouter un etage</button>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Valider</button>
      </div>
    </div>
</form>

{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {

      /* multipleRoom.php */
    var etage_number=1,
        roomForm = $('#multipleRoom'),
        zoneBefore = roomForm.find('.js-before'),
        etageBtn = roomForm.find('#etageplus');
        etageHtml ='<div class="well relative"> <span class="label label-warning">Etage N° @@</span><div class="form-group"> <label for="" class="col-sm-4 control-label">Nombre de chambres</label> <div class="col-sm-4"> <input type="text" name="floor[@@][length]" class="form-control"> </div> </div> <div class="form-group"> <label for="" class="col-sm-4 control-label">Capacité</label> <div class="col-sm-4"> <input type="text" name="floor[@@][capacity]" class="form-control"> </div> </div></div>';
        etageBtn.on('click', function(){
        	var i = etage_number++,
        	html = etageHtml;

            html = html.replace('@@', i);
            html = html.replace('@@', i);
            html = html.replace('@@', i);
            zoneBefore.before(html);
            return false;
        });

    })(jQuery);
</script>
{% endblock %}