{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/fullcalendar.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<h2><span class="fui-calendar"></span>  Calendrier des évenements</h2>
<div id="calendar"></div>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/fullcalendar.min.js') }}"></script><!-- Full Calendar -->
<script> 
    (function($) {

    /* calendar */
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        var title = prompt('Event Title:');
        if (title) {
          calendar.fullCalendar('renderEvent',
            {
              title: title,
              start: start,
              end: end,
              allDay: allDay
            },
            true // make the event "stick"
          );
        }
        calendar.fullCalendar('unselect');
      },
      editable: true,
      events: [
      {% for entity in entities %}
        {
          id: {{ entity.id }},
          title: '{{ entity.name }}',
          start: new Date({{ entity.datefrom|date('Y') }}, {{ entity.datefrom|date('m') }}-1, {{ entity.datefrom|date('d') }}),
          end: new Date({{ entity.dateto|date('Y') }}, {{ entity.dateto|date('m') }}-1, {{ entity.dateto|date('d') }}),
          url: '{{ path('event_show', { 'id': entity.id }) }}'
        }{{ loop.last ? '' : ',' }}
      {% endfor %}
      ],
      eventRender: function(event, element, view)
      {
          console.log("My Event: " + event.title);
      },
      eventClick: function(calEvent, jsEvent){
          alert('hi');
      },
      eventDrop: function(event, delta) {
          alert(event.title + ' was moved ' + delta + ' days\n' +
              '(should probably update your database)');
      },
      eventMouseover: function( event, jsEvent, view ) { 
          var item = $(this);
          if(item.find('.nube').length == 0){
              var info = '<span class="nube"><h2>'+event.title+'</h2><img src="'+event.avatar+'" /> <p class="text">'+event.name+'</p><p>'+event.start+' <br /> '+event.end+'</p><p><a href="/post.php?blogid='+event.id+'">read_more</a></p></span>';
              item.append(info);
          }
          if(parseInt(item.css('top')) <= 200){
              item.find('.nube').css({'top': 20,'bottom':'auto'});
              item.parent().find('.fc-event').addClass('z0');
          }
          item.find('.nube').stop(true,true).fadeIn();
      },
      eventMouseout: function( event, jsEvent, view ) { 
          var item = $(this);
          item.find('.nube').stop(true,true).fadeOut();
          alert(12);
      },
      dayClick: function(date, allDay, jsEvent, view) {

          /*if (allDay) {
              alert('Clicked on the entire day: ' + date);
          }else{
              alert('Clicked on the slot: ' + date);
          }*/

          alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);

          alert('Current view: ' + view.name);

          // change the day's background color just for fun
          $(this).css('background-color', 'red');

      }
    });
    })(jQuery);
</script>
{% endblock %}



