{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
{{ 'message.meta.demo'|trans }} | {{ parent() }}
{% endblock %}
{% block body %}

    
    <div class="page">            
        <div class="content-warper">
		    <header>
		    	<h1 class="col-md-8"><span class="glyphicon glyphicon-envelope"></span> {{ 'message.meta.demo'|trans }}</h1>
		    	<div class="btn-group col-md-4">
				    <a class="btn btn-info" href="{{ path('event_print', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-print"></span> {{ 'ben.action.print'|trans }}</a>
				    <a class="btn btn-inverse" href="{{ path('event_send', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-envelope"></span> {{ 'message.action.mail'|trans }}</a>
				</div>
		        <div class="clearfix"></div>
			</header>
			<ul class="threadslist">
				{% for user in users %}
		        <li class="thread-item">
		        <div class="col-md-12">
		            {{ app_config.letter_header|replace({'{org_name}': app_config.org_name, '{org_address}': app_config.org_address, '{fullname}': user.profile.family_name ~ ' ' ~ user.profile.first_name, '{address}': user.profile.address})|raw }}

		            {{ app_config.letter_invitation|replace({'{firstname}': user.profile.first_name, '{date}': entity.datefrom|date('Y-m-d'), '{time}': entity.datefrom|date('H:i'), '{body}': entity.description})|raw }}
		        </div>
		        <div class="clearfix"></div>
		        </li>
		        {% endfor %}
		    </ul>
		</div>
	</div>
    

{% endblock body %} 