{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h1><span class="fui-time"></span> event edit</h1>
<div class="col-sm-9">
    <form id="editForm" class="form-horizontal well" action="{{ path('event_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
    </form> 
</div>  
<div class="col-md-3">
    <form action="{{ path('event_delete', { 'id': entity.id }) }}" method="post" class="well">
    {{ form_widget(delete_form) }}
    <a id="submitEditForm" class="btn btn-embossed btn-primary btn-block" href="#">
        <span class="fui-new"></span> Mettre à jour
    </a>
    <a class="btn btn-embossed btn-inverse btn-block " href="{{ path('event') }}">
        <span class="fui-list-bulleted"></span> Back to the list
    </a>
    <button type="submit" class="btn btn-embossed btn-danger btn-block"><span class="fui-cross"></span> Supprimer </button>
</form>
</div>

{% endblock body %}

{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
        $('#submitEditForm').on('click', function () {
            $('#editForm').submit();
        });
    })(jQuery);
</script>
{% endblock %}
