{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
{{ 'event.action.edit'|trans }} | {{ parent() }}
{% endblock %}
{% block body %}
<h2><span class="fui-time"></span> {{ 'event.action.edit'|trans }}</h2>
<form id="createForm" class="form-horizontal" action="{{ path('event_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" class="btn btn-primary btn-embossed"><span class="glyphicon glyphicon-edit"></span> {{ 'ben.action.edit'|trans }}</button>
        {% if is_granted("ROLE_ADMIN") %}<button id="js-delete" class="btn btn-embossed btn-danger"><span class="fui-cross"></span> {{ 'ben.action.delete'|trans }} </button>{% endif %}
      </div>
    </div> 
</form>

<form id="deleteForm" action="{{ path('event_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
</form>

{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {

        $('#event_form_date_to').closest('.form-group').hide().prev().hide();
        $('#js-delete').on('click', function(){
            $('#deleteForm').submit();
            return false;
        });
    })(jQuery);
</script>
{% endblock %}
