{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h2><span class="fui-time"></span>  Evenement</h2>

<div class="row">
    <div class="col-sm-9">
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ entity.datefrom|date('d/m/Y à H:i') }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ entity.dateto|date('d/m/Y à H:i') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Groupes Invités</th>
                <td>
                    <ul class="list-unstyled">{% for group in entity.groups %}<li>{{ group}}</li>{% endfor %}</ul>
                </td>
            </tr>
        </tbody>
    </table>
    </div> 
{% if is_granted("ROLE_ADMIN") %}
    <div class="col-md-3">
        <form id="deleteForm" action="{{ path('event_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <a id="submitEditForm" class="btn btn-embossed btn-primary btn-block" href="{{ path('event_edit', { 'id': entity.id }) }}">
            <span class="fui-new"></span> Mettre à jour
        </a>
        <a class="btn btn-embossed btn-inverse btn-block " href="{{ path('event_demo', { 'id': entity.id }) }}">
            <span class="fui-list-check"></span> Afficher les lettres
        </a>
        <a class="btn btn-embossed btn-inverse btn-block " href="{{ path('event_print', { 'id': entity.id }) }}">
            <span class="fui-list-check"></span> Imprimer les lettres
        </a>
        <a class="btn btn-embossed btn-inverse btn-block " href="{{ path('event') }}">Revenir à la liste</a>
        <button type="submit" class="btn btn-embossed btn-danger btn-block"><span class="fui-cross"></span> Supprimer </button>
    </form>
    </div>
{% endif %}
</div>
{% endblock body %}

 {% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
        $('#deleteForm').on('submit', confirmation);
    })(jQuery);
</script>
{% endblock %}

