{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
{{ 'event.meta.calendar'|trans }} | {{ parent() }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/fullcalendar.css') }}" rel="stylesheet">
    <link href="{{ asset('qtip2/jquery.qtip.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<h2><span class="fui-calendar"></span>  {{ 'event.meta.calendar'|trans }}</h2>
<div id="calendar"></div>
{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/moment.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.custom.min.js') }}"></script>
<script src="{{ asset('js/fullcalendar.min.js') }}"></script><!-- Full Calendar -->
{% if app.request.locale != 'en' %}
<script src="{{ asset('js/lang/'~app.request.locale~'.js') }}"></script><!-- Full Calendar -->
{% endif %}
<script src="{{ asset('qtip2/jquery.qtip.js') }}"></script>
<script>  
    (function($) {

    /* calendar */
    var date = new Date(),
        d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear();
    
    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      selectable: true,
      eventRender: function(event, element) {
        element.qtip({    
            content: {    
                title: { text: event.title },
                text: '<b>{{ 'event.meta.date'|trans }}: </b>' + (moment(event.start).format('MM/DD/YYYY à hh:mm')) + '<br><b>{{ 'event.form.type'|trans }}: </b>'+event.type+'<br><b>{{ 'event.form.groups'|trans }}: </b>'+event.groups+'<br><b>{{ 'event.form.description'|trans }}: </b>'+event.description+'<br /><a href="'+event.url+'">{{ 'ben.action.more'|trans }}</a>'     
            },
            style: { 
              classes: 'qtip-bootstrap', 
              tip: {corner: 'left center'}
            },         
            position: {
              my: 'bottom  center',
              at: 'top center',
              target: 'mouse',
              adjust: {
                  mouse: false
              }
            }
        });
      },
      events: [
      {% for entity in entities %}
        {
          id: {{ entity.id }},
          title: '{{ entity.name }}',
          description: hereDoc(function() {/*!{{ entity.description | replace({"\n":" "}) }}*/}),
          type: '{{ entity.type }}',
          groups: '{{ entity.getGroupList }}',
          start: new Date('{{ entity.datefrom|date('Y-m-d H:i:s') }}'),
          end: new Date('{{ entity.dateto|date('Y-m-d H:i:s') }}'),
          url: '{{ path('event_show', { 'id': entity.id }) }}'
        }{{ loop.last ? '' : ',' }}
      {% endfor %}
      ]
    });

    })(jQuery);
</script>
{% endblock %}


