{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
Groupes - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
     
<h2><span class="fui-user"></span> {{ 'group.action.edit'|trans }}</h2>
<form id="createForm" class="form-horizontal" action="{{ path('group_update', {'id': entity.id} ) }}" method="post" {{ form_enctype(form) }}>
    <div class="form-group">
      <label for="" class="col-md-4 control-label">{{ 'user.form.profile.avatar'|trans }}</label>
      <div class="col-md-2 text-center">
        <img src="{{ asset( entity.image.getwebpath)}}">
      </div>
    </div>
    {{ form_row(form.image.file) }}
    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_rest(form)}}


    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" class="btn btn-primary btn-embossed"><span class="glyphicon glyphicon-plus"></span> {{ 'ben.action.edit'|trans }}</button>
        {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('group_delete', {id: entity.id }) }}" id="js-delete" class="btn btn-embossed btn-danger"><span class="fui-cross"></span> {{ 'ben.action.delete'|trans }} </a>
        {% endif %}
      </div>
    </div>       
</form>

{% endblock fos_user_content %}
{% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
        $('#js-delete').on('click', confirmation);
    })(jQuery);
</script>
{% endblock %}