{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
Groupes - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
     
<h2><span class="fui-user"></span> Gestion des Groupes</h2>
<form id="createForm" class="form-horizontal" action="{{ path('fos_user_group_edit', {'groupname': groupname} ) }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.name, {'label' : 'Nom du Groupe'}) }}
        {{ form_rest(form)}}

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" class="btn btn-primary btn-embossed"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
        <a href="{{ path('fos_user_group_delete', {groupname: groupname }) }}" id="js-delete" class="btn btn-embossed btn-danger"><span class="fui-cross"></span> Supprimer </a>
      </div>
    </div>       
</form>

{% endblock fos_user_content %}