{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
Paramètres - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
     
<h2><span class="fui-user"></span> Gestion des Groupes</h2>
<div class="row">
    <div class="col-md-8">     
     <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom du groupe</th>
                <th>Adhérant dans ce groupe</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody id="dataContainer">
        {% for entity in groups %}
        <tr>
            <td>{{ entity.getId() }}</td>
            <td>{{ entity.getName() }}</td>
            <td>{{ entity.getUsers()|length }}</td>
            <td>
                <a class="btn btn-embossed btn-primary showuser btn-xs" href="{{ path('fos_user_group_show', {groupname: entity.name }) }}" data-toggle="tooltip" title="afficher"><span class="fui-search"></span></a>
                <a class="btn btn-embossed btn-info btn-xs" href="{{ path('fos_user_group_edit', {groupname: entity.name }) }}" data-toggle="tooltip" title="modifier"><span class="fui-new"></span></a>
                <a class="btn btn-embossed btn-success btn-xs" href="{{ path('ben_show_group', {id: entity.id, perPage: app_config.rows_per_page }) }}" data-toggle="tooltip" title="Appeler"><span class="glyphicon glyphicon-earphone"></span></a>
                {% if is_granted("ROLE_ADMIN") %}
                <a class="btn btn-embossed btn-danger btn-xs js-delete"  href="{{ path('fos_user_group_delete', {groupname: entity.name }) }}" data-toggle="tooltip" title="Supprimer"><span class="fui-cross"></span></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div><strong>Total:</strong> <em>{{ groups|length }} Groupes</em></div>
    </div>
    {% include "FOSUserBundle:Group:new.html.twig" %}
</div>


{% endblock fos_user_content %}

 {% block javascripts %}
{{ parent() }}
<script> 
    (function($) {
        $('.table').on('click', '.js-delete', confirmation);
        $('#js-input').find('.col-md-4').removeClass('col-md-4');
    })(jQuery);
</script>
{% endblock %}
