{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}
Profile - {{ parent() }}
{% endblock %}

{% block fos_user_content %}
{% if app_config.print_permission %}
<a href="{{ path('ben_pdf', {'users': entity.id }) }}" class="btn btn-inverse pull-right"><span class="glyphicon glyphicon-print"></span> {{ 'user.action.carte.print'|trans }}</a>
{% endif %}
<h2><span class="fui-user"></span> Profile</h2>
<form class="form-horizontal" action="{{ path('ben_profile_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
<div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1"><span class="fui-user"></span> {{ 'user.meta.identity'|trans }}</a></li>
      <li><a href="#tab2"><span class="fui-book"></span> {{ 'user.meta.contact'|trans }}</a></li>
    </ul> <!-- /tabs -->
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <div class="form-group">
                <label for="" class="col-sm-4 control-label">{{ 'user.form.profile.avatar'|trans }}</label>
                <div class="col-sm-4">
                    <img class="myavatar col-md-4" src="{{ asset( entity.image.getwebpath)}}">
                </div>
            </div>
            {{ form_row(form.image.file) }}
            {{ form_row(form.family_name) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.cin) }}
            {{ form_row(form.barcode) }}
            {{ form_row(form.gender) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.job) }}
            {{ form_row(form.diplome) }}
            {{ form_row(form.expertise) }}
        </div><!-- /tab1 -->
        <div class="tab-pane" id="tab2">
            {{ form_row(form.address) }}
            {{ form_row(form.post_code) }}
            {{ form_row(form.city) }}
            {{ form_row(form.contry) }}
            {{ form_row(form.tel) }}
            {{ form_row(form.gsm) }}
            {{ form_rest(form) }}
        </div><!-- /tab2 -->
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" name="subvalider" class="btn btn-primary btn-embossed"><span class="fui-new"></span> {{ 'ben.action.edit'|trans }}</button>
        <a href="{{ path('ben_show_user', {'id': app.user.id }) }}" class="btn btn-default btn-embossed"><span class="fui-search"> {{ 'user.action.show'|trans }}</a>
      </div>
    </div>
</form>

{% endblock fos_user_content %}