{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
{{ 'ben.action.import'|trans }} | {{ parent() }}
{% endblock %}
{% block body %}
<h2><span class="glyphicon glyphicon-import"></span> {{ 'ben.action.import'|trans }}</h2>


   <form action="" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <button type="submit" class="btn btn-primary btn-embossed"><span class="glyphicon glyphicon-edit"></span> {{'ben.action.send'|trans}}</button>
      </div>
    </div>
    </form>

{% endblock body %}
