{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}


 {% block stylesheet %}
 	{{ parent() }}
    <link href="{{ asset('css/graph.css') }}" rel="stylesheet"><!-- Loading my css -->
 {% endblock %}

{% block body %}
<h2><span class="glyphicon glyphicon-dashboard"></span> Tableau de bord</h2>
<div class="row">
	<div class="col-md-2">
	<div class="stat-boxes widget-body">
		<a href="#"><span class="fui-user ben-icone"></span></a>
		<h3 class="ticker--one">{{ counter.user }}</h3>
		<i>ADHERENTS</i>
		<div class="clearfix"></div>		
	</div>
	</div>
	<div class="col-md-2">
		<div class="stat-boxes widget-body">
			<a href="#"><span class="fui-myspace ben-icone"></span></a>
			<h3 class="ticker--one">{{ counter.group }}</h3>
			<i>GROUPES</i>
			<div class="clearfix"></div>		
		</div>
	</div>
	<div class="col-md-2">
		<div class="stat-boxes widget-body">
			<a href="#"><span class="fui-time ben-icone"></span></a>
			<h3 class="ticker--one">{{ counter.event }}</h3>
			<i>EVENEMENTS</i>
			<div class="clearfix"></div>		
		</div>
	</div>
	<div class="col-md-2">
		<div class="stat-boxes widget-body">
			<a href="#"><span class="fui-book ben-icone"></span></a>
			<h3 class="ticker--one">{{ counter.reservation }}</h3>
			<i>RESERVATION</i>
			<div class="clearfix"></div>		
		</div>
	</div>
	<div class="col-md-2">
		<div class="stat-boxes widget-body">
			<a href="#"><span class="fui-home ben-icone"></span></a>
			<h3 class="ticker--one">{{ counter.hotels }}</h3>
			<i>LOGEMENT</i>
			<div class="clearfix"></div>		
		</div>
	</div>
	<div class="col-md-2">
		<div class="stat-boxes widget-body">
			<a href="#"><span class="fui-tag ben-icone"></span></a>
			<h3 class="ticker--one">{{ counter.rooms }}</h3>
			<i>CHAMBRE</i>
			<div class="clearfix"></div>		
		</div>
	</div>
</div>			
    <div class="box widget-body">
        <header>
        	<h3><span class="glyphicon glyphicon-globe"></span> Google Map 
        	<i class="js-toggle pull-right fui-arrow-right"></i></h3>
        </header>
		<div class="map-warper">
			<div id="js-map"></div> 
		</div>
    </div>
<div class="col-md-6">
	<!-- Graph HTML -->
<div id="graph-wrapper">
	<div id="statChartFlotLineA"></div>
</div>
<!-- end Graph HTML -->
</div>


<div class="clearfix"></div>
{% endblock body %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.categories.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.grow.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.orderBars.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.selection.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.stackpercent.js') }}"></script>
    <script src="{{ asset('js/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('js/flot/demo.js') }}"></script>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> 


<script> 
    (function($) {
// 	var graphData = [{
//         // Visits
//         data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000] ],
//         color: '#71c73e'
//     }, {
//         // Returning Visits
//         data: [ [6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000] ],
//         color: '#77b7c5',
//         points: { radius: 4, fillColor: '#77b7c5' }
//     }
// ];
// // Lines
// $.plot($('#graph-lines'), graphData, {
//     series: {
//         points: {
//             show: true,
//             radius: 5
//         },
//         lines: {
//             show: true
//         },
//         shadowSize: 0
//     },
//     grid: {
//         color: '#646464',
//         borderColor: 'transparent',
//         borderWidth: 20,
//         hoverable: true
//     },
//     xaxis: {
//         tickColor: 'transparent',
//         tickDecimals: 2
//     },
//     yaxis: {
//         tickSize: 1000
//     }
// });
 
// // Bars
// $.plot($('#graph-bars'), graphData, {
//     series: {
//         bars: {
//             show: true,
//             barWidth: .9,
//             align: 'center'
//         },
//         shadowSize: 0
//     },
//     grid: {
//         color: '#646464',
//         borderColor: 'transparent',
//         borderWidth: 20,
//         hoverable: true
//     },
//     xaxis: {
//         tickColor: 'transparent',
//         tickDecimals: 2
//     },
//     yaxis: {
//         tickSize: 1000
//     }
// });

// $('#graph-bars').hide();
 
// $('#lines').on('click', function (e) {
//     $('#bars').removeClass('active');
//     $('#graph-bars').fadeOut();
//     $(this).addClass('active');
//     $('#graph-lines').fadeIn();
//     e.preventDefault();
// });
 
// $('#bars').on('click', function (e) {
//     $('#lines').removeClass('active');
//     $('#graph-lines').fadeOut();
//     $(this).addClass('active');
//     $('#graph-bars').fadeIn().removeClass('hidden');
//     e.preventDefault();
// });

// function showTooltip(x, y, contents) {
//     $('<div id="tooltip">' + contents + '</div>').css({
//         top: y - 16,
//         left: x + 20
//     }).appendTo('body').fadeIn();
// }
 
// var previousPoint = null;
 
// $('#graph-lines, #graph-bars').bind('plothover', function (event, pos, item) {
//     if (item) {
//         if (previousPoint != item.dataIndex) {
//             previousPoint = item.dataIndex;
//             $('#tooltip').remove();
//             var x = item.datapoint[0],
//                 y = item.datapoint[1];
//                 showTooltip(item.pageX, item.pageY, y + ' visitors at ' + x + '.00h');
//         }
//     } else {
//         $('#tooltip').remove();
//         previousPoint = null;
//     }
// });


    var styles = [  
	  //       {  
			//     featureType: 'poi',  
			//     elementType: 'geometry',  
			//     stylers: [  
			//         { hue: '#f9e0b7' },  
			//         { lightness: 30 }  
			//     ]  
			// },
			// {  
			//     featureType: 'road',  
			//     elementType: 'geometry',  
			//     stylers: [  
			//         { hue: '#d5c18c' },  
			//         { lightness: 14 }  
			//     ]  
			// },
			// {  
			//     featureType: 'road.local',  
			//     elementType: 'all',  
			//     stylers: [  
			//         { hue: '#ffd7a6' },  
			//         { saturation: 100 },  
			//         { lightness: -12 }  
			//     ]  
			// }  
	    ],
	    options = {  
		    mapTypeControlOptions: {  
		        mapTypeIds: ['Styled']  
		    },  
	        center: new google.maps.LatLng({{app_config.org_map_lat}}, {{app_config.org_map_lng}}),  
	        zoom: 16,  
	        disableDefaultUI: true,   
	        mapTypeId: 'Styled'  
    	},
    	mapContainer = document.getElementById('js-map'); 
    	map = new google.maps.Map(mapContainer, options),
    	styledMapType = new google.maps.StyledMapType(styles, { name: 'Styled' });  
   	map.mapTypes.set('Styled', styledMapType); 
   
   	$('.js-toggle').on('click', function(){
   		$(this).toggleClass('fui-arrow-left').closest('header').next().slideToggle();
   		return false;
   	}); 

    })(jQuery);
</script>
{% endblock %}
