<nav class="menu hidden-print">
    <ul>
        <li><a href="{{ path('Ben_association_homepage') }}"><span class="glyphicon glyphicon-dashboard block"></span> <span>Dashboard</span></a></li>
        <li><a href="{{ path('ben_users') }}"><span class="fui-user block"></span> <span>Adhérents</span></a></li>
        <li><a href="{{ path('fos_user_group_list') }}"><span class="fui-myspace block"></span> <span>Groupes</span></a></li>
        <li><a href="{{ path('status') }}"><span class="glyphicon glyphicon-tags block"></span> <span>Status</span></a></li>
        <li><a href="{{ path('event') }}"><span class="fui-time block"></span> <span>Evenements</span></a></li>
        <li><a href="{{ path('reservation') }}"><span class="fui-book block"></span> <span>reservation</span></a></li>
        <li><a href="{{ path('hotels') }}"><span class="fui-home block"></span> <span>Logement</span></a></li>
        <li><a href="{{ path('rooms') }}"><span class="fui-tag block"></span> <span>chambres</span></a></li>
        <li><a href="{{ path('config') }}"><span class="fui-gear block"></span> <span>Préférences</span></a></li>
    </ul>
</nav>
