{% extends "BenAssociationBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block body %}
<h2><span class="fui-home"></span> Liste des logements</h2>
<form id="jsForm" role="form" method="GET" action="{{ path('hotels') }}">         
<div class="row hidden-print">
    <div class="col-md-5">
        <div class="form-group">
           <div class="input-group">                                     
              <input type="text" name="keyword" class="form-control" placeholder="Search">
             <span class="input-group-btn">
                   <button type="submit" class="btn"><span class="fui-search"></span></button>
               </span>
           </div>
        </div>
    </div>
    <div class="col-lg-7">
      <div class="pull-right">
        <a class="btn btn-embossed btn-primary" href="{{ path('hotels_new') }}"><span class="fui-plus"></span> Ajouter</a>      
      </div>
    </div>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Category</th>
            <th>Address</th>
            <th>City</th>
            <th>Post_code</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.category }}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.postcode }}</td>
            <td>
                <a class="btn btn-embossed btn-primary btn-xs" href="{{ path('hotels_show', { 'id': entity.id }) }}" data-toggle="tooltip" title="Afficher"><span class="fui-search"></span></a>
                <a class="btn btn-embossed btn-info btn-xs" href="{{ path('hotels_edit', { 'id': entity.id }) }}" data-toggle="tooltip" title="modifier"><span class="fui-new"></span></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="caption"><strong>Total:</strong> <em>{{ entities|length }} Logement</em></div>
</form>

{% endblock body %}
