{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block message_content %}
<header>
    <form id="deleteform" class="pull-right" action="{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}" method="post">
        <button type="submit" class="btn btn-xs btn-danger">{{ 'message.action.delete'|trans }}</button>
    </form>
    <h1><span class="glyphicon glyphicon-envelope"></span> {{ thread.subject }}</h1>
    <ul class="meta list-unstyled">
        <li><span class="glyphicon glyphicon-time"></span> {{ thread.createdAt|time_ago_in_words }} </li>
        <li><span class="glyphicon glyphicon-envelope"></span> {{ 'message.meta.count'|transchoice(thread.messages|length) }} </li>
        <li><span class="glyphicon glyphicon-user"></span> {{ thread.getParticipant(app.user) }}</li>
    </ul>
</header>
    <ul class="threadslist">
    {% for message in thread.messages %}
        <li class="thread-item" id="message_{{ message.id }}">
            <div class="col-md-2">
            <div class="col-md-12">
                
                <a href="{{ path('ben_show_user', { 'id': message.sender.id }) }}" title="{{ message.sender }}">
                <img src="{{ asset( message.sender.avatar)}}" class="img-responsive img-circle"></a>
            </div>
            </div>
            <div class="col-md-10">
                <div class="message-label">
                    <p class="pull-right muted"><small>{{ message.createdAt|time_ago_in_words }}</small></p>
                    <h6><a href="{{  path('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" class="link-main">{{ message.sender }}</a></h6>
                </div>
                <p class="muted">{% if is_granted("ROLE_MANAGER") %}{{ message.body|raw }}{% else %}{{ message.body|nl2br }}{% endif %}</p>
            </div>
            <div class="clearfix"></div>
        </li>
    {% endfor %}
    </ul>
    <div class="thread-form-wrapper">	
        <form class="thread-form js-coment" action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
            <div class="col-md-10">
                <textarea id="comment_body" rows="3" name="message[body]" required="required" class="form-control" placeholder="Laisser un message *"></textarea>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-sm btn-primary">{{ 'ben.action.send'|trans }} <span class="glyphicon glyphicon-share"></span></button>
            </div>
            <div class="clearfix"></div>
        {{ form_widget(form._token) }}
        </form>
    </div>
{% endblock %}