
<ul class="threadslist">
    {% for thread in threads %}
    {% set sender = thread.getParticipant(app.user) %}
    <li class="thread-item {% if not fos_message_is_read(thread)%}unread{% endif %}" id="message_{{ thread.id }}">
        <div class="col-md-2">
        <strong>{{ sender }}</strong>
        </div>
        <div class="col-md-10">
            <div class="message-label">
                <p class="pull-right muted"><small>{{ thread.lastMessage.createdAt|time_ago_in_words }}</small><br>
                    <small>{{ 'message.meta.count'|transchoice(thread.messages|length) }}</small>
                </p>
                <h6><a href="{{  path('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" class="link-main">{{ thread.subject }}</a></h6>
            </div>
            <p class="muted"><small>{{ thread.lastMessage.excerpt }}</small> ...</p>
        </div>
        <div class="clearfix"></div>
    </li>
    {% else %}
    <li class="thread-item">
        <div class="col-right">
            <div class="body-content" >
                <p>{{ 'message.meta.no'|trans }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>